# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
ENV/
env/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Secrets
.env
.env.*
*.key

# OS / IDE
.idea/
.vscode/
.DS_Store
Thumbs.db
